name: work
on:
  push:
    branches:
      - main
jobs:
  hello1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # 체크아웃으로 소스코드 가져옴
      - name: Create Tag # 태그 이름
        id: create_tag # 태그 아이디 - 이전 시점(스텝) 산출물 사용 가능 - 즉, 갖다쓸 태그의 id로만 접근 가능
        uses: mathieudutour/github-tag-action@v6.2 # 태그 액션만 사용
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1 # 버전 1 사용할거다
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.create_tag.outputs.new_tag }} # 해당 태그의 스텝과 이름 아웃풋, 뉴태그 (아웃풋 뉴태그 -> 문서에 나와있음 (약속된 것))
          release_name: Release ${{ steps.create_tag.outputs.new_tag }}
          body: ${{ steps.create_tag.outputs.changelog }} # 체인지 로그도 알아서 
          draft: false # 옵션값
          prerelease: false # 옵션값
